# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Large datasets
dataset/

# Temporary files
*.log
*.tmp
dataset.zip 